<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>896186785122-doocq9hk3ssdb2ptk6g546j31j3bio39.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.896186785122-doocq9hk3ssdb2ptk6g546j31j3bio39</string>
	<key>API_KEY</key>
	<string>AIzaSyA3DRCiwDhNli8ng7G9FH51RHXJhFJKgFU</string>
	<key>GCM_SENDER_ID</key>
	<string>896186785122</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>oonishireon.ChatApp</string>
	<key>PROJECT_ID</key>
	<string>chatapp-75cb1</string>
	<key>STORAGE_BUCKET</key>
	<string>chatapp-75cb1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:896186785122:ios:b5a1821a5dc99956b0603b</string>
</dict>
</plist>